/************ Color Palettes (Left to Right / Top to Bottom) ************

***** Mood Board 1 *****

	Option 1: 
		Orange (#EF7C00)
		Brown/Orange (#A35100)
		Light Orange (#FFA63A)
		Light Blue (#08C1BA)
		Lighter Blue (#A6EFE4)
		
	Option 2:
		Orange: (#FFAA00)
		Yellow/Orange: (#FFC128)
		Tan: (#FFC579)
		Light Red: (#FF7135)
		Red: (#E04C18)
			
***** Mood Board 2 *****

	Option 1:
		Brown (#AB8C53)
		Stone (#E8CC71)
		White (#FFFDF4)
		Light Blue (#59969D)
		Dark Blue (#243244)
		

	Option 2:
		Brown (#73643D)
		Faded Brown (#BFB9A7)
		White (#FFFCF5)
		Blue (#4F5A75)
		Grey (#BFBFBF)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* Check to see if you'll need this*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}
/**************** End of Reset *************/

body {
	background: #0c1a2c;
	margin: 0 auto;
}

#wrapper {
	background: #243244;
	margin: 15px auto;
	width: 960px;
}

h1 {
	color: #59969d;
	font: normal bold 1.625em/1 didot, colona mt, menlo, serif; /*** 26px ***/
	float: left;
	margin-top: 25px;
	padding: 35px 0px 0px 70px;
	text-shadow: 2px 2px 2px #000;
}

h2 {
	font: normal bold 1.25em/1 georgia, verdana, sans-serif; /*** 20px ***/
}

h3 {
	font: normal 1em/1 georgia, verdana, sans-serif; /*** 16px ***/
}

.header_photos {
	background: green;
	height: 100%;
	width: 100%;
}

header img {
	float: right;
	margin: 15px 15px 0px 0px;
}

/*********** Main Nav ************/

nav ul {
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	border-top: 2px solid #000;
	clear: both;
	float: left;
	height: 50px;
	margin: 15px 0px 15px 0px;
	width: 958px;
}

nav ul li {
	background: #59969d;
	border-right: 2px solid #000;
	color: #fffdf4;
	float: left;
	font: normal bold 1.125em/1 didot, colona mt, menlo, serif; /*** 18px ***/
	line-height: 50px;
	text-align: center;
	width: 189.6px;
}

#welcome {
	background: white;
	clear: both;
	float: left;
	height: 100px;
	margin: 0px 0px 0px 55px;
	padding: 15px 0px 0px 30px;
	width: 820px;
}

#welcome h3 {
	margin-top: 12px;
}

/********* LINKS **********/

li a {
	color: #FFFDF4;
	text-decoration: none;
}

/********* MAIN CONTENT ********/
aside {
	margin-bottom: 14.2px;
	text-align: right;
}

article {
	background: #4F5a75;
	clear:both;
	float: left;
	margin: 15px 0px 15px 55px;
	padding: 15px 15px 0px 30px;
	width: 479px
}

article h2 {
	border-bottom: 1px solid #000;
	color: #E8CC71;
	padding: 0px 30px 15px 0px;
	text-shadow: -2px 0px 10px #fffdf4;
	width: 430px;
}

article p, aside {
	color: #E8CC71;
	font: normal 0.875em/1.4 verdana, arial, sans-serif; /**** 14px ****/
	margin-top: 15px;
}

article .section_end {
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
	padding-bottom: 15px;
	width: 459px;
}

/******** Right Column ********/

#rightcolumn {
	background: #507276;
	float: right;
	height: 375px;
	margin: 15px 55px 15px 0px;
	width: 310px;
}

#rightcolumn ul {
	margin-top: 15px;
}

#rightcolumn ul li {
	background: black;
	border: 1px solid #000;
	color: white;
	font: normal 1.125em/1 verdana, arial, sans-serif; /**** 18px ****/
	margin: 0px 0px 15px 26px;
	padding: 5px 0px 8px 0px;
	text-align: center;
	width: 240px;
}

#rightcolumn h2 {
	border-bottom: 1px solid #000;
	color: #E8CC71; 
	font: normal bold 1.5em/1 didot, menlo, colona mt, serif; /**** 24px ****/
	margin-left: 27.5px;
	padding: 14px 0px 14px 0px;
	text-align: center;
	text-shadow: -2px 0px 12px #fffdf4;
	width: 240px;
}

#rightcolumn section {
	border-bottom: 1px solid #000;
	margin: 0px 0px 0px 27.5px;
	padding-bottom: 15px;
	width: 240px;
}

#rightcolumn section p {
	color: #e8cc71;
	font: normal 0.875em/1 verdana, arial, sans-serif; /**** 14px ****/
	margin-top: 15px;
}

/********** FORM ************/

article form p {
	margin: 4px 0 4px 0;
}

article form legend {
	color: white;
	font-style: italic;
	margin-bottom: 6px;
}

article form label {
	font: normal 1.125em/1 verdana, arial, sans-serif; /**** 24px ****/
	margin-right: 8px;
}

/********** FOOTER ***********/

footer {
	background: orange;
	clear: both;
	font: normal 0.875em/1 verdana, arial, sans-serif; /*** 14px ***/
	margin: 0 auto;
	padding: 30px 0px 30px 81px;

}