/************ Color Palettes (Left to Right / Top to Bottom) ************

***** Mood Board 1 *****

	Option 1: 
		Orange (#EF7C00)
		Brown/Orange (#A35100)
		Light Orange (#FFA63A)
		Light Blue (#08C1BA)
		Lighter Blue (#A6EFE4)
		
	Option 2:
		Orange: (#FFAA00)
		Yellow/Orange: (#FFC128)
		Tan: (#FFC579)
		Light Red: (#FF7135)
		Red: (#E04C18)
			
***** Mood Board 2 *****

	Option 1:
		Brown (#AB8C53)
		Stone (#E8CC71)
		White (#FFFDF4)
		Light Blue (#59969D)
		Dark Blue (#243244)
		

	Option 2:
		Brown (#73643D)
		Faded Brown (#BFB9A7)
		White (#FFFCF5)
		Blue (#4F5A75)
		Grey (#BFBFBF)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* Check to see if you'll need this*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}
/**************** End of Reset *************/

body {
	background: url(../images/bg_texture.png);
	margin: 0 auto;
}

#wrapper {
	background: #243244; /***** fallback *****/
	background: rgba(36,50,68,0.94);
	border: 3px solid #b3732d;
	margin: 15px auto;
	width: 960px;
}

/******* Font Treatments *******/

h1 a {
	background: orange;
	background: url(../images/header/logo.png) no-repeat 0 12px;
	color: #E8CC71;
	font: normal bold 1.25em/1 didot, 'colona mt', menlo, serif; /*** 23px ***/
	float: left;
	height: 70px;
	margin: 15px 31px 0 55px;
	padding: 50px 0 0 125px;
	text-decoration: none;
	text-shadow: 3px 0 2px #000;
	width: 300px;
}

#wrapper h1 a:link {
	text-decoration: none;
}

h2 {
	clear: both;
	font: normal bold 1.25em/1 georgia, verdana, sans-serif; /*** 20px ***/
}

h3 {
	margin-top: 18px;
}

h4 {
	color: #DBF9F4;
	font: bold 1.25em/1 georgia, verdana, sans-serif; /*** 16px ***/
	margin-top: 18px;
	text-decoration: underline;
}

/******* Header images *******/

header img {
	border: 1px solid #000;
	float: left;
	margin: 15px 15px 0 0;
}

/*********** Main Nav ************/

nav ul {
	border-bottom: 2px solid #0c1a2c;
	border-left: 2px solid #0c1a2c;
	border-top: 2px solid #0c1a2c;
	clear: both;
	float: left;
	height: 50px;
	margin: 15px 0 15px 0;
	width: 958px;
}

nav ul li {
	background: rgb(139,197,206); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(139,197,206,1) 0%, rgba(89,149,156,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,197,206,1)), color-stop(100%,rgba(89,149,156,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(139,197,206,1) 0%,rgba(89,149,156,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(139,197,206,1) 0%,rgba(89,149,156,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(139,197,206,1) 0%,rgba(89,149,156,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(139,197,206,1) 0%,rgba(89,149,156,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc5ce', endColorstr='#59959c',GradientType=0 ); /* IE6-9 */
	border-right: 2px solid #0c1a2c;
	color: #fffdf4;
	float: left;
	font: normal bold 1.125em/1 didot, 'colona mt', menlo, serif; /*** 18px ***/
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 189.6px;
}

/********* Welcome Graphic ********/

#welcome {
	background: #1A284C; /**** fallback ****/
	background: -moz-linear-gradient(left,  rgba(26,40,76,1) 0%, rgba(79,90,117,1) 24%, rgba(79,90,117,1) 50%, rgba(129,141,172,0.95) 70%, rgba(141,154,186,0.88) 75%, rgba(140,158,192,0.8) 78%, rgba(138,172,211,0.49) 88%, rgba(135,188,234,0) 100%), url(../images/school.jpg); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(26,40,76,1)), color-stop(24%,rgba(79,90,117,1)), color-stop(50%,rgba(79,90,117,1)), color-stop(70%,rgba(129,141,172,1)), color-stop(75%,rgba(141,154,186,0.88)), color-stop(78%,rgba(140,158,192,0.8)), color-stop(88%,rgba(138,172,211,0.49)), color-stop(100%,rgba(135,188,234,0))), url(../images/school.jpg); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(26,40,76,1) 0%,rgba(79,90,117,1) 24%,rgba(79,90,117,1) 50%,rgba(129,141,172,1) 70%,rgba(141,154,186,0.88) 75%,rgba(140,158,192,0.8) 78%,rgba(138,172,211,0.49) 88%,rgba(135,188,234,0) 100%), url(../images/school.jpg); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(26,40,76,1) 0%,rgba(79,90,117,1) 24%,rgba(79,90,117,1) 50%,rgba(129,141,172,1) 70%,rgba(141,154,186,0.88) 75%,rgba(140,158,192,0.8) 78%,rgba(138,172,211,0.49) 88%,rgba(135,188,234,0) 100%), url(../images/school.jpg); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(26,40,76,1) 0%,rgba(79,90,117,1) 24%,rgba(79,90,117,1) 50%,rgba(129,141,172,1) 70%,rgba(141,154,186,0.88) 75%,rgba(140,158,192,0.8) 78%,rgba(138,172,211,0.49) 88%,rgba(135,188,234,0) 100%), url(../images/school.jpg); /* IE10+ */
	background: linear-gradient(left,  rgba(26,40,76,1) 0%,rgba(79,90,117,1) 24%,rgba(79,90,117,1) 50%,rgba(129,141,172,1) 70%,rgba(141,154,186,0.88) 75%,rgba(140,158,192,0.8) 78%,rgba(138,172,211,0.49) 88%,rgba(135,188,234,0) 100%), url(../images/school.jpg); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a284c', endColorstr='#0087bcea',GradientType=1 ); /* IE6-9 */
	background-position: top right;
	border: 1px solid #0c1a2c;
	clear: both;
	float: left;
	height: 100px;
	margin: 0 0 0 55px;
	padding: 15px 0 0 30px;
	width: 820px;
}

#welcome h2 {
	color: #E8CC71;
}

#welcome h3 {
	color: #E8CC71;
	margin-top: 12px;
}

/********* LINKS **********/

nav li a {
	color: #FFFDF4;
	text-decoration: none;
}

/********* MAIN CONTENT ********/
article {
	background: #4F5a75;
	border: 1px solid #000;
	clear:both;
	float: left;
	margin: 15px 0 15px 55px;
	padding: 0 15px 15px 30px;
	width: 479px
}

article h2 {
	border-bottom: 1px solid #000;
	color: #E8CC71;
	margin-top: 18px;
	padding: 0 0 15px 0;
	text-align: center;
	text-shadow: -2px 0 25px #fffdf4;
	width: 479px;
}

article p, aside {
	color: #E8CC71;
	font: normal 0.875em/1.4 verdana, arial, sans-serif; /**** 14px ****/
	margin-top: 15px;
}

article .section_end {
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
	padding-bottom: 15px;
	width: 459px;
}

article .signature {
	font-style: italic;
	text-align: right;
}

/******** Right Column ********/

aside {
	background: #507276;
	border: 1px solid #000;
	float: left;
	height: 380px;
	margin: 15px 55px 15px 12px;
	width: 310px;
}

aside h2 {
	border-bottom: 1px solid #000;
	color: #E8CC71; 
	font: normal bold 1.5em/1 didot, menlo, 'colona mt', serif; /**** 24px ****/
	margin-left: 27.5px;
	padding: 17px 0 14px 0;
	text-align: center;
	text-shadow: -2px 0 20px #fffdf4;
	width: 240px;
}

aside ul {
	margin-top: 15px;
}

aside ul li {
	background: #243244;
	border: 1px solid #000;
	font: normal 1.125em/1 verdana, arial, sans-serif; /**** 18px ****/
	height: 31px;
	margin: 0 0 15px 26px;
	/*padding: 5px 0px 8px 0px;*/
	text-align: center;
	width: 240px;
}

aside ul li a {
	color: white;
	display: block;
	height: 31px;
	line-height: 31px;
	text-decoration: none;
}

aside ul li a:hover {
	background: #507276;
}

aside section {
	border-bottom: 1px solid #000;
	margin: 0 0 0 27.5px;
	padding-bottom: 15px;
	width: 240px;
}

aside section a {
	color: #e8cc71;
}

aside section p {
	font: normal 0.875em/1 verdana, arial, sans-serif; /**** 14px ****/
	margin-top: 15px;
	text-align: center;
}

/********** CALENDAR ***********/

#cal {
    color: #000;
    font-family: arial, helvetica, sans-serif;
    font-size: 9pt;
    line-height: 30px;
    padding-left: 15px;
    text-align: center;
    width: 280px;
}

#cal h2 {
    color: #E8CC71; 
	font: normal bold 1.5em/1 didot, menlo, 'colona mt', serif; /**** 24px ****/
    margin: 0 5px 5px 5px;
    width: 270px;
}

#cal ul {
    margin: 0;
    padding: 12px 0 0 0;
    width: 280px;
}

#cal ul li {
    border: 5px solid #fff;
    display: block;
    float: left;
    height: 30px;
    list-style: none;
    margin: 0;
    width: 30px;
}

#cal ul li.day {
    background: #666;
    color: #fff;
    font-weight: bold;
}
     
#cal ul li.num { 
	background: #ccc; 
}

#cal a.event {
    background: #6dcff6;
    color: #004a80;
    display: block;
    font-weight: bold;
    height: 30px;
    text-decoration: none;
    width: 30px;
}

/******* Weekly Events ********/
#weeks_events {
	padding-top: 14px;
}

#weeks_events li {
	background: green;
	border: 1px solid #0C1A2C;
	color: #E2F8F7;
	font: normal 0.938em/1 arial, verdana, sans-serif; /**** 15px ****/
	height: 50px;
	margin-bottom: 10px;
	padding: 30px 0 0 25px;
}

#weeks_events li strong {
	font: bold 1.125em/1 verdana, arial, sans-serif; /**** 18px ****/
}

#weeks_events .stripe1 {
	background: #04615D;
}

#weeks_events .stripe2 {
	background: #06918C;
	color: #F5FDFC;
}

/******* Same-page navigation (Departments & Resources) *******/

#links_prek-2, #parent_links_1 {
	float: left;
	margin: 15px 17px 3px 0;
	text-align: center;
	width: 229px;
}

#links_prek-2 li, #parent_links_1 li {
	background: #FA8E3C;
	border: 1px solid #FFF;
	display: block;
	font: normal 1.125em/1 verdana, arial, sans-serif;
	margin-bottom: 15px;
}

#links_3-5, #parent_links_2 {
	float: left;
	margin: 15px 0 3px 0;
	text-align: center;
	width: 229px;
}

#links_3-5 li, #parent_links_2 li {
	background: #F2822C;
	border: 1px solid #FFF;
	display: block;
	font: normal 1.125em/1 verdana, arial, sans-serif;
	margin-bottom: 15px;
}

#links_prek-2 li a, #links_3-5 li a, #parent_links_1 li a, #parent_links_2 li a {
	color: white;
	display: block;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
}

#links_prek-2 li a:hover, #links_3-5 li a:hover, #parent_links_1 li a:hover, #parent_links_2 li a:hover {
	background: #4F5A75;
}

/******* Departments *******/

table {
	border: 1px solid #000;
	border-collapse: collapse;
	margin: 18px 0;
	width: 478px;
}

th {
	background: #507276;
	font: bold 1.125em/1 verdana, arial, sans-serif;
	padding: 8px 0 10px 0;
}

tr, td {
	border: 1px solid #000;
	text-align: center;
}

td {
	padding: 8px 0;
}

td a {
	color: #E2B97C;
}

.evenrow {
	background: #04615D;
	color: #C8CCCB;
}

.oddrow {
	background: #06918C;
	color: #F5FDFC;
}

/********** CONTACT FORM ************/

article form legend {
	color: white;
	font-style: italic;
	height: 30px;
	padding-top: 15px;
}

article form p {
	margin: 0 0 6px 0;
}

article form label {
	font: normal 1.125em/1 verdana, arial, sans-serif; /**** 24px ****/
	margin-right: 8px;
}

article form em {
	font: normal 0.625em/1 verdana, arial, sans-serif; /**** 10px ****/
}
/********** MAP *************/

iframe {
	margin: -5px 0 0 27.5px;
}

aside p {
	font: normal 0.75em/1 verdana, arial, sans-serif;
	margin: 12px 14px 14px 14px;
	line-height: 1.2;
}

/********** FOOTER ***********/

footer {
	background: #FFA500;
	border-top: 3px solid #b3732d;
	clear: both;
	height: 60px;
	margin: 0 auto;
}

#copyright {
	float: left;
	font: normal 0.875em/1 verdana, arial, sans-serif; /*** 14px ***/
	height: 60px;
	margin: 0 57px 0 85px;
	padding-top: 22px;
	text-align: center;
}

#address, #fax {
	float: left;
	font: normal 0.875em/1 verdana, arial, sans-serif; /*** 14px ***/
	height: 60px;
	line-height: 1.2;
	margin-right: 57px;
	padding-top: 12px;
	text-align: center;
}