/************ Color Palettes (Left to Right / Top to Bottom) ************

***** Mood Board 1 *****

	Option 1: 
		Orange (#EF7C00)
		Brown/Orange (#A35100)
		Light Orange (#FFA63A)
		Light Blue (#08C1BA)
		Lighter Blue (#A6EFE4)
		
	Option 2:
		Orange: (#FFAA00)
		Yellow/Orange: (#FFC128)
		Tan: (#FFC579)
		Light Red: (#FF7135)
		Red: (#E04C18)
			
***** Mood Board 2 *****

	Option 1:
		Brown (#AB8C53)
		Stone (#E8CC71)
		White (#FFFDF4)
		Light Blue (#59969D)
		Dark Blue (#243244)
		

	Option 2:
		Brown (#73643D)
		Faded Brown (#BFB9A7)
		White (#FFFCF5)
		Blue (#4F5A75)
		Grey (#BFBFBF)
*/


body {
	background-color: #243244;
	margin: 0 auto;
	width: 800px;
}

h1 {
	color: #59969D;
	font: normal bold 1.625em/1 didot, georgia, sans-serif; /*** 26px ***/
	text-align: center;
}

wrapper {
	width: 100%;
}